.latestWithSafqa {
  display: flex;
  justify-content: space-between;
  gap: 0.3rem;
  margin-top: 3rem;
  margin-bottom: 8rem;
  padding-inline: 10px;
}

.tagBtn {
  flex: 1;
  background: linear-gradient(145deg, #f3f3f3, #ffffff);
  border: none;
  color: #525252e7;
  font-size: 1.3rem;
  font-weight: 600;
  padding: 1rem;
  border-radius: 5px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
  transition: all 0.3s ease;

  cursor: pointer;
  text-align: center;
}

.tagBtn:hover {
  transform: translateY(-3px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  background: linear-gradient(145deg, #fdf7f7ea, #ffffff);
  color: #111;
}



.books {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* أكبر شوية */
  gap: 24px;

  background-color: #f8f9fa;
}
app-book-card {
  display: block;
  background-color: white;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  overflow: hidden;
  min-height: 280px;
  transition: transform 0.3s ease;
  border-radius: 20px;
}


.catBooks{
  padding: 15px;

}

.catBooks h4{
  color: #6a6f77 ;
  font-weight: 600;
}
.catBooks h4 i{
  color: #169184;

  font-size: 20px;
  font-weight: 600;
}


.catBooks a{
  cursor: pointer;
  margin: 100px;
  padding-inline: 10px;
}

.catBooks a:hover h4{
  color: #474444;
}
