
<div id="outerContainer">
    <div id="mainFilterContainer">
        <div id="filterHeader">
            <h2>تصفية</h2>
        </div>

        <div id="language">
            <div id="languageHeader" class="header" (click)="toggleSection('language')">
                <h3>لغة الكاتب</h3>
                <i class="fa-solid fa-angle-down" [class.rotated]="!sectionVisibility.language"></i>
            </div>

            @if (sectionVisibility.language) {
            <div id="languageOption">
                @for (lang of languages; track lang) {
                <div class="option">
                    <input type="radio" 
                           name="language" 
                           id="{{'lang-' + lang}}" 
                           [checked]="selectedLanguage === languageMap[lang]"
                           (change)="onLanguageChange(lang)"> 
                    <label for="{{'lang-' + lang}}">{{lang}}</label>
                </div>
                }
            </div>
            }
        </div>

        <div id="order">
            <div id="orderHeader" class="header" (click)="toggleSection('order')">
                <h3>ترتيب حسب</h3>
                <i class="fa-solid fa-angle-down" [class.rotated]="!sectionVisibility.order"></i>
            </div>

            @if (sectionVisibility.order) {
            <div id="orderOption">
                <select [ngModel]="selectedSort" (ngModelChange)="onSortChange($event)">
                    @for (option of sortOptions; track option.value) {
                        <option [value]="option.value">{{option.label}}</option>
                    }
                </select>
            </div>
            }
        </div>

        <div id="bublisher">
            <div id="bublisherHeader" class="header" (click)="toggleSection('publisher')">
                <h3>دور النشر</h3>
                <i class="fa-solid fa-angle-down" [class.rotated]="!sectionVisibility.publisher"></i>
            </div>

            @if (sectionVisibility.publisher) {
            <div class="searchContainer">
                <input 
                type="text" 
                placeholder="ابحث عن دور النشر"
                class="search-input"
                [ngModel]="searchPublisherTerm"
                (ngModelChange)="searchPublisherTerm = $event; onSearchInput()"
                />
            </div>
            }

            @if (sectionVisibility.publisher) {
            <div id="bublisherOptions">
                @for (publisher of displayedPublishers; track publisher.id) {
                <div class="option">
                    <input type="checkbox" 
                           [checked]="selectedPublishers.includes(publisher.id)"
                           (change)="onPublisherChange(publisher.id)"> 
                    <label>{{publisher.name}}</label>
                </div>
                }
                @if (!showAllPublishers && allPublishers.length > 3 && !searchPublisherTerm) {
                    <button type="button" (click)="toggleShowAllPublishers()" class="show-more-btn">
                        عرض المزيد
                    </button>
                }

                @if (showAllPublishers && !searchPublisherTerm) {
                <button type="button" (click)="toggleShowAllPublishers()" class="show-less-btn">
                    عرض أقل
                </button>
                }
            </div>
            }
        </div>
    </div>
</div>
