<div id="outerContainer">
    <div id="mainFilterContainer">
        <div id="filterHeader">
            <h2>تصفية</h2>
        </div>

        <div id="language">
            <div id="languageHeader" class="header" (click)="toggleSection('language')">
                <h3>لغة الكاتب</h3>
                <!-- <i class="fa-solid fa-angle-down"></i> -->
                 <i class="fa-solid fa-angle-down" [class.rotated]="!sectionVisibility.language"></i>
            </div>

            <div id="languageOption" *ngIf="sectionVisibility.language">
                @for (lang of languages ; track lang) {
                    <div class="option">
                        <input type="radio" name="language" id="language" value=""> 
                        <label>{{lang}}</label>
                    </div>
                }
            </div>

        </div>

        <div id="order">
            <div id="orderHeader" class="header" (click)="toggleSection('order')">
                <h3>ترتيب حسب</h3>
                 <i class="fa-solid fa-angle-down" [class.rotated]="!sectionVisibility.order"></i>
                <!-- <i class="fa-solid fa-angle-down"></i> -->
            </div>

            <div id="orderOption" *ngIf="sectionVisibility.order" >
                <select name="" id="">
                    <option value="Ascending"> ⇡ الأحدث </option>
                    <option value="Descending">⇣ الأقدم</option>
                    <option value="most_popular">⇡ الأكثر رواجاً</option>
                </select>

            </div>

        </div>
        
        <div id="bublisher">
            <div id="bublisherHeader" class="header" (click)="toggleSection('publisher')">
                <h3>دور النشر </h3>
                <i class="fa-solid fa-angle-down" [class.rotated]="!sectionVisibility.publisher"></i>
                <!-- <i class="fa-solid fa-angle-down"></i> -->
            </div>

            <div class="searchContainer" *ngIf="sectionVisibility.publisher">
                <input 
                type="text" 
                placeholder="ابحث عن دور النشر"
                class="search-input"
                />
            </div>

            <div id="bublisherOptions" *ngIf="sectionVisibility.publisher">
                @for (publisher of publishers ; track publisher) {
                    <div class="option">
                        <input type="checkbox" name="" id="" value=""> 
                        <label>{{publisher}}</label>
                    </div>
                }
            </div>

        <a routerLink="#"  routerLinkActive="active">عرض المزيد</a> 

    </div>
    
</div>