 <!-- <div class="paginationContaner" > 
    <button 
      class="paginationButton"
      (click)="goToPage(currentPage - 1)"
      [disabled]="currentPage === 1"
    >   
      Previous
    </button>
    
    @for (page of GetPagesNumbers();track page) {
      <button  id="pagesNumber"
        class="paginationButton"
        [class.active]="page === currentPage"
        (click)="goToPage(page)"
       >
        {{ page }}
      </button>
    }
    
    <button 
      class="paginationButton"
       (click)="goToPage(currentPage + 1)"
      [disabled]="currentPage === TotalPages"
    >
      Next
    </button>
</div> -->
