<div class="book-details-container">
  <div class="navigation">
    <a class="nav-btn" (click)="reduce()"><i class="fa-solid fa-arrow-" [ngClass] = "{'fa-arrow-right': isRTL, 'fa-arrow-left': !isRTL}"></i></a>
    <a class="nav-btn" (click)="increase()"><i class="fa-solid fa-arrow-" [ngClass] = "{'fa-arrow-left': isRTL, 'fa-arrow-right': !isRTL}"></i></a>
  </div>

  <div class="bc">
    <app-nav-crumb [Navcrumbs]="breadcrumbs"></app-nav-crumb>
  </div>

  <div class="book">
    <div class="book-info">
      <!-- القسم اليمين -->
      <div class="right-section">
        <img [src]="getCoverImageUrl()" alt="" />

        <div class="button-container">
          <button class="btn btn-buy" (click)="addToCart()">
            <span class="text">{{'bookDetails.buyPaperCopy' | translate}}</span>
            <span class="icon">🛒</span>
          </button>

          <app-modal title="{{ 'reviewWithComments.review' | translate}}" #addReviewBtn [bookId]="bookId" (reviewAdded)="onReviewAdded($event)" class = "add-review">

        </app-modal>

          <!-- المودال نفسه -->

        </div>

        <div class="book-price">
          <div class="before">
            <span>{{'bookDetails.before' | translate}} </span>
            <span class="old-price">{{ book?.price }} ج.م</span>
          </div>

          <div class="after">
            <span>{{'bookDetails.after' | translate}} </span>
            <span class="new-price"> {{newPrice}} ج.م</span>
          </div>

          <div class="discount">
            <span>{{'bookDetails.youWillSave' | translate}} {{discount | number:'1.1-1' }} ج.م</span>
            <span class="badge">{{'bookDetails.discount' | translate}} {{book?.discountPercentage }}%</span>
          </div>
        </div>

        <div class="notification-card">
          <div class="notification-item">
            <span class="iconWithText">
              <i class="fas fa-shuttle-van truck-icon"></i>
              <span> {{'bookDetails.freeShipping' | translate}} </span>
            </span>
            <span class="highlight">{{'bookDetails.minimumOrder' | translate}}</span>
          </div>

          <div class="notification-item">
            <span class="iconWithText">
              <i class="fas fa-shield-heart shield-icon"></i>
              <span> {{'bookDetails.secureShopping' | translate}} </span>
            </span>
            <span class="highlight small-italic">{{'bookDetails.dataProtected' | translate}}</span>
          </div>
        </div>
      </div>

      <!-- القسم النص -->
      <div class="middle-section">
        <div class="book-title">
          <h3>{{book?.title}}</h3>
        </div>

        <div class="book-rating">
          <span class="stars">
            @for (star of stars; track star) {
              <i class="fa-star" [ngClass]="{
                'fas text-warning': star < (book?.rating || 0),
                'far text-secondary': star >= (book?.rating || 0)
              }" ></i>
            }
          </span>

          <button class="heart-btn" (click)="toggleHeart()" type="button">
            <i [ngClass]="{ 'fas': isLiked, 'far': !isLiked }" class="fa-heart heart-icon"></i>
          </button>
        </div>



        <div class="book-snip" *ngIf="book?.description">
          <h3 class="section-title">{{'bookDetails.aboutBook' | translate}}</h3>
          <div class="gg"></div>
          <p class="book-description">{{ book?.description }}</p>
        </div>

        <div class="author-snip">
          <h3 class="section-title">{{'bookDetails.aboutAuthor' | translate}}</h3>
          <div class="gg"></div>

          <div class="author-description">
            <a routerLink="/authors/{{author.id}}" class="text-dark cc">
              <div class="imageWithName">
                <img [src]="getAuthorCoverImageUrl()" alt="" class="author-image">
                <h5 class="author-name">{{author.name}}</h5>
              </div>
            </a>
            <p class="whoIsAuthor">{{author.bio}}</p>

            <div class="anotherBooksForAuthor">
              <h3 class="section-title">{{'bookDetails.otherWorks' | translate}}</h3>

              <div class="AuthorBooks">
                @for (book of authorBooks ; track book) {
                  <a routerLink="/book-details/{{book.id}}" class="text-decoration-none">
                  <div class="bookaya">
                    <i class="fa fa-book-open"></i>

                    <a routerLink="/book-details/{{book.id}}" class="booksauthor text-decoration-none text-dark fw-bold ">{{book.title}}</a>
                  </div>
                  </a>
                }
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- القسم الشمال -->
      <div class="left-section">
        <div class="mb-4">
          <div class="book-container">
            <table class="book-table">
              <tbody>
                <tr><th>{{'bookDetails.authors' | translate}}</th><td>{{book?.authorName}}</td></tr>
                <tr><th>{{'bookDetails.pages' | translate}}</th><td>{{book?.pageCount}}</td></tr>
                <tr><th>{{'bookDetails.publishYear' | translate}}</th><td>{{book?.publishedDate | date:'dd/MM/yyyy' }}</td></tr>
                <tr><th>{{'bookDetails.format' | translate}}</th><td>{{book?.format}}</td></tr>
                <tr><th>{{'bookDetails.publisher' | translate}}</th><td>{{book?.publisherId}}</td></tr>
                <tr><th>{{'bookDetails.categories' | translate}}</th><td>{{book?.categoryIds}}</td></tr>
                <tr><th>ISBN</th><td>{{book?.isbn}}</td></tr>
                <tr><th>{{'bookDetails.shortLink' | translate}}</th><td><a routerLink="/book-details/{{book?.id}}" class="text-decoration-none">{{book?.title}} <i class="fa-solid fa-link"></i></a></td></tr>
                <tr>
                  <th>{{'bookDetails.share' | translate}}</th>
                  <td>
                    <a href="#" class="social-icon"><i class="fab fa-facebook"></i></a>
                    <a href="#" class="social-icon"><i class="fab fa-twitter"></i></a>
                    <a href="#" class="social-icon"><i class="fab fa-whatsapp"></i></a>
                    <a href="#" class="social-icon"><i class="fab fa-telegram"></i></a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

        <!-- الأقسام -->
        <div class="shadow-sm maincat">
          <div class="p-0 cat">
            <h5 class="mb-3 text-muted text-center">{{'bookDetails.categories' | translate}}</h5>
            <ul class="list-group list-group-flush w-75">
              @for (category of categories; track category.id) {
                <a routerLink="/MainFilterContainer/{{category.id}}" class="category-itesm">
                  <li class="list-group-item category-item">
                    {{category.name}} <span class="badge bg-light text-danger">0</span>
                  </li>
                </a>
              }


            </ul>

            <a routerLink="/AllCategories">
              <button class="btn btn-danger btn-sm">{{'bookDetails.moreCategories'| translate}}</button>
            </a>

          </div>
        </div>


      </div>

    </div>
  </div>

  <div class="allbooks py-5">
    <div class="centraya text-center">
      <h4 class="simi">{{'bookDetails.similarBooks' | translate}}</h4>

    </div>
    <app-similar-books [catBasedOn]="catId"></app-similar-books>
  </div>

      <app-reviews-and-comments
          [book]="book">
     </app-reviews-and-comments>
</div>

