<footer class="text-light py-5" style="background-color: #1d293b;" dir="rtl">
  <div class="container">
    <div class="row">

      <div class="col-md-3 mb-4 text-end">
        <h6 class="fw-bold mb-2">{{ 'footer.quickLinks' | translate }}</h6>
        <ul class="list-unstyled">
          <li><a href="#" class="text-decoration-none text-light-50 d-block mb-2">{{ 'footer.termsAndConditions' | translate }}</a></li>
          <li><a href="#" class="text-decoration-none text-light-50 d-block mb-2">{{ 'footer.privacyPolicy' | translate }}</a></li>
          <li><a href="#" class="text-decoration-none text-light-50 d-block mb-2">{{ 'footer.returnPolicy' | translate }}</a></li>
          <li><a href="#" class="text-decoration-none text-light-50 d-block">{{ 'footer.discountCardInstructions' | translate }}</a></li>
        </ul>
      </div>

      <div class="col-md-3 mb-4 text-end">
        <h6 class="fw-bold mb-2">{{ 'footer.supportLinks' | translate }}</h6>
        <ul class="list-unstyled">
          <li><a href="#" class="text-decoration-none text-light-50 d-block mb-2">{{ 'footer.contactUs' | translate }}</a></li>
          <li><a href="#" class="text-decoration-none text-light-50 d-block mb-2">{{ 'footer.customerService' | translate }}</a></li>
          <li><a href="#" class="text-decoration-none text-light-50 d-block">{{ 'footer.branchLocations' | translate }}</a></li>
        </ul>
      </div>

      <div class="col-md-6 mb-4 text-center">
        <h5 class="fw-bold mb-3">{{ 'footer.appDownload' | translate }}</h5>

        <div class="d-flex justify-content-center gap-2 mb-3 flex-wrap">
          <img src="https://upload.wikimedia.org/wikipedia/commons/7/78/Google_Play_Store_badge_EN.svg" height="40" alt="{{ 'footer.googlePlay' | translate }}">
          <img src="https://developer.apple.com/assets/elements/badges/download-on-the-app-store.svg" height="40" alt="{{ 'footer.appStore' | translate }}">
        </div>

        <div class="d-flex justify-content-center gap-3 align-items-center mb-3">
          <img src="https://upload.wikimedia.org/wikipedia/commons/0/04/Mastercard-logo.png" height="20" alt="{{ 'footer.mastercard' | translate }}">
          <img src="https://upload.wikimedia.org/wikipedia/commons/4/41/Visa_Logo.png" height="20" alt="{{ 'footer.visa' | translate }}">
        </div>
      </div>
    </div>

    <hr class="border-secondary">

    <div class="d-flex justify-content-between align-items-center flex-wrap mt-3 text-light-50">
      <div class="d-flex gap-3 fs-5">
        <a href="#" class="text-light"><i class="fab fa-telegram"></i> {{ 'footer.telegram' | translate }}</a>
        <a href="#" class="text-light"><i class="fab fa-youtube"></i> {{ 'footer.youtube' | translate }}</a>
        <a href="#" class="text-light"><i class="fab fa-x-twitter"></i> {{ 'footer.twitter' | translate }}</a>
        <a href="#" class="text-light"><i class="fab fa-instagram"></i> {{ 'footer.instagram' | translate }}</a>
        <a href="#" class="text-light"><i class="fab fa-facebook"></i> {{ 'footer.facebook' | translate }}</a>
      </div>

      <small>{{ 'footer.copyright' | translate }}</small>
    </div>
  </div>
</footer>
