.allrev{
  display: flex;
  justify-content: space-between;
}

.brev{
  background-color: #3d4b61;
  justify-content: space-around;
}

.brev .btn-text{
  color: white;
  font-size: 16px;
}



.custom-btn {
  display: flex;
  align-items: center;
  border: none;
  padding: 0;
  background-color: #d0dceb; /* الخلفية الفاتحة */
  border-radius: 6px;
  overflow: hidden;
  cursor: pointer;
  height: 32px;
}



.btn-text {
  padding: 0 10px;
  font-size: 14px;
  color: #1f2e4d;
}


.icon-box {
  background-color: #8ca3c6; /* اللون الغامق للأيقونة */
  color: white;
  padding: 6px;
  display: flex;
  align-items: center;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  font-size: 14px;
  height: 100%;
}








.tabs {
  display: flex;
  border-bottom: 2px solid #eee;
  margin-bottom: 1rem;
  justify-content: space-around;
}

.tabs button {
  background: none;
  border: none;
  width: 100%;
  padding: 10px 20px;
  cursor: pointer;
  font-weight: bold;
  border-bottom: 2px solid transparent;
  transition: all 0.3s ease;
  color: #666;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);

  display: flex;
  justify-content: space-between;
}

.tabs button.active {
  color: #e74c3c;
  border-bottom: 2px solid #e74c3c;
}











/* ****************************************** */


.reviews-container {

  display: flex;
  margin: auto;
  justify-content: space-between;

}

.review-box{
  width: 35%;
  padding: 20px;
}

.alert {
  background-color: #fffbe6;
  color: #a67c00;
  padding: 10px;
  border: 1px solid #f1c40f;
  margin-bottom: 15px;
  border-radius: 5px;
}

.review-box h2 {
  margin-bottom: 10px;
  font-weight: 600;
  font-size: 22px;
}

.overall-rating {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 15px;
}

.stars i {
  color: #f1c40f;
}

.stars .inactive {
  color: #ddd;
}

.rating-bars div {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 5px 0;
}

.bar {
  flex: 1;
  background: #eee;
  height: 10px;
  border-radius: 5px;
  overflow: hidden;
}

.bar .fill {
  height: 100%;
  background: #f1c40f;
}

.star {
  width: 30px;
  text-align: center;
}

.submit-review {
  margin-top: 20px;
}

.submit-review h3{
  font-size: 22px;
  font-weight: 600;
}



.alert{
  width: 60%;
  height: fit-content;
  margin-top: 35px;
}



.quotes-container{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 50px;
  gap: 30px;
}

app-modal {
  width: fit-content;
  margin-inline: auto;
  direction: rtl;
  text-align: right;
}

.quotes-container button{
  width: fit-content;
  padding-inline: 150px;
}


.tab-content{
  height: max-content;
}


.booksauthor{
  color: #000;
  font-weight: 600;
  font-size: 16px;
}
.booksauthor:hover{
  text-decoration: none;

}
