<!-- <div>
  @if (isLoading) {
    <div class="loading">
      <p>جاري تحميل الكتب...</p>
    </div>
  }
  @if(Books.length == 0) {
    <div class="noBooks">
      <h2>لا توجد كتب فى هذا القسم</h2>
    </div>
  }
  @else {
    <div class="books">

      @for (Book of Books ; track Book.id){
      <app-book-card  [book]="Book"></app-book-card>
      }
    </div>

    <div class="books-pagination">
      <app-pagination [CurrentPage]="currentPage" [TotalPages]="totalPages" (PageChanged)="GetNewPage($event)"></app-pagination>
    </div>
  }
</div>
   -->
<div>
  @if (isLoading) {
    <div class="loading">
      <p>جاري تحميل الكتب...</p>
    </div>
  } @else if (Books.length === 0) {
    <div class="noBooks">
      <h2>لا توجد كتب فى هذا القسم</h2>
    </div>
  } @else {
    <div class="books">
      @for (Book of Books; track Book.id) {
        <app-book-card [book]="Book"></app-book-card>
      }
    </div>

    <div class="books-pagination">
      <app-pagination
        [CurrentPage]="currentPage"
        [TotalPages]="totalPages"
        (PageChanged)="GetNewPage($event)"
      ></app-pagination>
    </div>
  }
</div>