textarea.form-control {
  resize: vertical;
}



.classbtn {
  background: white;
  border: 1px solid #888;
  color: black;
  padding: 7px 100px;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;

}

.modal-headerawy{
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.rating-stars {
  display: flex;
  align-items: center;
  gap: 5px;
}

.rating-star.active {
  color: #f1c40f !important;
}

.rating-star:hover {
  color: #f1c40f !important;
}